.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background: black;
}

.logo {
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.nav {
  font-family: 'SeoulNamsan', sans-serif;
  display: flex;
  gap: 40px;
  font-weight: 500;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
  opacity: 0.6;
}

.nav div {
  opacity: 0.6;
}

.nav a.active {
  opacity: 1;
}

.apply-button {
  font-family: 'SeoulNamsan', sans-serif;
  background-color: white;
  color: black;
  font-weight: bold;
  border-radius: 9px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}
