/* 중앙 회색 반투명 박스 */
.content-box {
  position: relative;
  width: 1320px;
  height: 549px; /* 박스 높이 고정 (1줄당 50px 기준 최대 9줄 + 여백 포함) */
  border-radius: 20px;
  margin: 40px auto; /* 위아래 여백 + 가운데 정렬 */
  z-index: 2; /* 배경보다 위 */
}


/* 작성하기 버튼 (오른쪽 하단 고정) */
.write-button {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 100px;
  height: 33px;
  border-radius: 15px;
  border: none;
  background-color: white;
  color: black;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}


.study-table1 {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 30px 60px;
}

.table-header1 {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.6fr; /* 제목 / 인원 / 날짜 */
  padding: 12px 0 15px 0;
  font-size: 18px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.table-row1 {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.6fr;
  padding: 12px 0;
  font-size: 18px;
  text-align: center;
  color: white;
}

.table-row1:hover {
  background-color: rgba(250, 249, 249, 0.158);
  cursor: pointer;
}