/* 중앙 회색 반투명 박스 */
.content-box {
  position: relative;
  width: 1320px;
  height: 549px; /* 박스 높이 고정 (1줄당 50px 기준 최대 9줄 + 여백 포함) */
  border-radius: 20px;
  margin: 40px auto; /* 위아래 여백 + 가운데 정렬 */
  z-index: 2; /* 배경보다 위 */
}


/* 작성하기 버튼 (오른쪽 하단 고정) */
.write-button {
  display: block;
  margin: 30px auto 0 auto;  /* 상단 여백 30px, 좌우 auto로 가운데 정렬 */
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  background-color: rgba(255,255,255,0.1);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}



.study-table1 {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 30px 60px;
}

.table-header1 {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.6fr; /* 제목 / 인원 / 날짜 */
  padding: 12px 0 15px 0;
  font-size: 18px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
}

.table-row1 {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.6fr;
  padding: 12px 0;
  font-size: 18px;
  text-align: center;
  color: white;
}

.table-row1:hover {
  background-color: rgba(250, 249, 249, 0.158);
  cursor: pointer;
}
/* 페이지네이션 스타일 (Home 전용, 변수명 뒤에 1) */
.pagination1 {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
}

.pagination1 .active {
  text-decoration: underline;
}

.page-btn1 {
  cursor: pointer;
  padding: 0 6px;
  color: white;
}

.page-btn1:hover {
  color: #ccc;
}
