.mainPage {
  width: 100%;
  height: 970px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  z-index: 10; 
}

.main-logo {
  height: 445px;
  object-fit: contain;
  position: relative;
  z-index: 11; 
}

.mainText {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 11;
}

.mainTitle {
  font-family: 'Audiowide', sans-serif;
  font-size: 120px;
  position: relative;
  z-index: 11;
}

.mainSubtitle {
  font-family: 'SeoulNamsan', sans-serif;
  font-size: 30px;
  line-height: 1.3;
  color: gray;
  position: relative;
  z-index: 11;
}

/* nextSection 영역 */
.nextSection {
  background-color: black;
  color: white;
  padding: 200px 20px;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.growth-circle {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 11;
}

/* 타원 경로 */
.circle-path {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px; /* 타원의 가로 크기 확대 */
  height: 600px; /* 타원의 세로 크기 유지 */
  border: 1px solid white;
  border-radius: 50% / 50%;
  transform: translate(-50%, -50%) rotate(-10deg); /* 타원을 중심으로 이동하고 회전 */
  z-index: 10; /* 배경보다 위 */
}

/* 중앙 텍스트 */
.circle-center-text {
  font-family: 'SeoulNamsan', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px; /* 중앙 텍스트 크기 확대 */
  font-weight: bold;
  text-align: center;
  white-space: nowrap; /* 텍스트가 한 줄로 나오게 */
  z-index: 11;
}

/* 이미지 아이템 */
.circle-item {
  position: absolute;
  width: 200px; /* 로고 크기 더 확대 */
  height: 200px; /* 로고 크기 더 확대 */
  border-radius: 50%;
  background-color: white;
  padding: 8px;
  box-sizing: border-box;
  z-index: 12;
}

/* 아이템 위치 */
.item1 { top: -15%; left: -10%; transform: translateX(-50%); }
.item2 { top: -30%; left: 110%; transform: translateX(-50%); }
.item3 { top: 30%; left: 165%; transform: translateX(-50%); }
.item4 { top: 85%; left: 60%; transform: translateX(-50%); }
.item5 { top: 50%; left: -65%; transform: translateX(-50%); }



/* clubInfoSection 영역 */
.clubInfoSection {
  width: 2133px;
  height: 971px;
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  position: relative;
  z-index: 10;
}

.club-info-row {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 개의 컬럼으로 나눔 */
  grid-gap: 20px; /* 간격 설정 */
  margin: 30px 0; /* 간격을 더 확보 */
  position: relative;
}

.club-info-title-1 {
  font-weight: 900;
  font-size: 45px;
  text-align: center;
  margin-left: 450px;
  margin-right: 50px;
  position: relative;
  z-index: 11;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.goal {
  margin-top: 80px;
}

.club-info-title-2 {
  font-weight: 900;
  font-size: 45px;
  text-align: center;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 450px;
  position: relative;
  z-index: 11;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.club-info-1 {
  background-color: #f7f7f7;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.7;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
  margin-left: 50px;
  margin-right: 450px;
  position: relative;
  z-index: 11;
  
}

.club-info-2 {
  background-color: #f7f7f7;
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.7;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
  margin-left: 450px;
  margin-right: 50px;
  position: relative;
  z-index: 11;
}

.club-info-bottom {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin: 50px 0;
  position: relative;
  z-index: 11;
}

.club-info-bottom-title {
  text-align: center;
}

.club-info-bottom-title p strong {
  font-weight: 900;
  font-size: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.club-activity-box {
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
  width: 400px;
  text-align: center;
  line-height: 2;
  font-weight: bold;
  font-size: 30px;
  box-shadow: 6px 6px 10px rgba(0,0,0,0.3);
  position: relative;
  z-index: 11;
}

.club-activity-box p span {
  margin-left: 5px;
  font-size: 17px;
}

/* clubScheduleSection 영역 */
.clubScheduleSection {
  background-color: white;
  padding: 60px 20px;
  position: relative;
  z-index: 10;
}